$black: #131313;
$dark-grey: #222222;
$grey: #2e2e2e;
//$grey: #303b51;
$light-grey: #383838;
//$light-grey: #596173;
$lighter-grey: #e6e6e6;

$green: #3fc1d3;
$light-green: #62cedb;

$darker-orange: #e26041;
$dark-orange: #e77f66;
$orange: #f29164;
$light-orange: #f4a683;

$yellow: #f6ce7a;
$light-yellow: #f8d793;

$blue: #546ee6;
$light-blue: #778beb;

$coral: #e66666;
$light-coral: #eb8686;

$red: #c44567;
$light-red: #d06a87;

$purple: #574a90;
$light-purple: #776fa6;

$pink: #f88fb3;
$light-pink: #f8a6c2;
